/* .article-list-box 시작 */
.article-list-box {
    margin-top:10px;
}

.article-list-box > ul > li > a {
    display: block;
    padding:10px;
    padding-left:0;
    border-bottom: 1px solid #dfdfdf;
}

.article-list-box > ul > li > a::before {
    content:"- ";
}

.article-list-box > ul > li:hover > a {
    background-color:#afafaf;
}
/* .article-list-box 끝 */